<div class="container">
    <div 
        *ngFor="let card of hand; index as i" 
        class="card-container"
        [ngStyle]="{'transform': 
            'translateX(' + cardTrigonometryService.getTranslation(i, hand.length) + 'px)' + 
            'rotate(' + cardTrigonometryService.getRotation(i, hand.length) + 'deg)'}">
        <app-card 
        [backside]="backside"
        [rank]="rankToCharService.transformRank(card.rank)"
        [suit]="suitToStringService.getSuitName(card.suit)">
    </app-card>
</div>
</div>
