.header {
    background-color: #f5f5f5;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.scores {
    align-self: center;
}

.opponent {
    height: 250px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.table {
    height: 100px;
    border-bottom: 1px solid #ccc;
}
