.header {
    height: 45px;
    margin-bottom: 25px;
}

h1 {
    line-height: 0;
}

.flex-container {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}


.scores {
    align-self: center;
}

@keyframes animate-score {
    0% {font-size: 16px;}
    50% {font-size: 25px; color: green;}
    100% {font-size: 16px;}
}

.score-animate {    
    animation-name: animate-score;
    animation-duration: 2s;
}

.opponent {
    height: 250px;
    border-bottom: 1px solid #ccc;
}

.house-title {
    margin-top: 0;
}

.table {
    height: 100px;
    border-bottom: 1px solid #ccc;
}

.house-container {
    max-height: 250px;
    min-height: 200px;
    height: 40vw;
}

.deal-button {
    font-size: 20px;
    font-weight: 600;
    max-height: 50px;
    height: 5vw;
}
