<div class="flex-container header space-between">

    <div><h1>Stoopid Poker!</h1></div>

    <div class="scores">
        <div [class.score-animate]="winner === 'house'">House: {{score.opponent}}</div>
        <div [class.score-animate]="winner === 'player'" >You: {{score.you}}</div>
    </div>

</div>
    

<div class="flex-container column">

    <h2 
        [style.color]="winner === 'house' ? 'green' : 'black'">House
        <span *ngIf="winner === 'house'"> wins!</span>
    </h2>
    <div class="flex-container space-between house-container">
        <app-hand [showHandName]="winner !== ''" [hand]="opponentHand" [backside]="dealt" class="opponent"></app-hand>
        <div class="house-tokens">
            <app-token [side]="'backside'"></app-token>
            <app-token [side]="'backside'"></app-token>
            <app-token [side]="'backside'"></app-token>
        </div>
    </div>
    
    <button class="deal-button" [disabled]="dealt" (click)="deal()">deal</button>

    <h2 
        [style.color]="winner === 'player' ? 'green' : 'black'">You
        <span *ngIf="winner"> bet on {{bet}} and</span>
        <span *ngIf="winner === 'house'"> lost.</span>
        <span *ngIf="winner === 'player'"> wins!</span>
    </h2>
    <div class="flex-container space-between">
        <app-hand [showHandName]="winner !== ''" [hand]="playerHand"></app-hand>
        <div>
            <app-token (click)="dealt ? action('house') : 0" [side]="dealt || bet === 'house' ? 'front' : 'backside'">{{ dealt || bet === 'house' ? 'House' : '' }}</app-token>
            <app-token (click)="dealt ? action('tie') : 0" [side]="dealt || bet === 'tie' ? 'front' : 'backside'">{{ dealt || bet === 'tie' ? 'Tie' : '' }}</app-token>
            <app-token (click)="dealt ? action('player') : 0" [side]="dealt || bet === 'player' ? 'front' : 'backside'">{{ dealt || bet === 'player' ? 'Player' : '' }}</app-token>
        </div>
    </div>
</div>
