<div class="header">
    <h1>Stoopid Poker!</h1>
</div>

<div class="flex-container column">
    <h2>Opponent</h2>
    <app-hand [hand]="opponentHand" [backside]="true" class="opponent"></app-hand>
    
    <h2>Table</h2>
    <div class="table flex-container row">

        <div>
            <h3>Actions</h3>
            <button [disabled]="dealt" (click)="deal()">deal</button>
        </div>

        <div [ngStyle]="{'text-align': 'center'}">
            <h3>Bet on:</h3>
            <button [disabled]="!dealt" (click)="action('win')">My hand Wins</button>
            <button [disabled]="!dealt" (click)="action('tie')">Tie</button>
            <button [disabled]="!dealt" (click)="action('lose')">Opponent hand wins</button>

        </div>

        <div>
            <h3>Score</h3>
            <h4>Opponent: {{score.opponent}}</h4>
            <h4>You: {{score.you}}</h4>
        </div>

    </div>

    <h2>You</h2>
    <app-hand [hand]="playerHand"></app-hand>
</div>

