<div class="header">
    <h1>Stoopid Poker!</h1>
</div>

<div class="flex-container column">
    <h2>Opponent<span *ngIf="hands.length && !dealt"> {{ namedHandService.name(opponentHand) }}</span></h2>
    <app-hand [hand]="opponentHand" [backside]="dealt" class="opponent"></app-hand>
    
    <div class="table flex-container row">

        <div>
            <h3>Actions</h3>
            <button [disabled]="dealt" (click)="deal()">deal</button>
        </div>

        <div [ngStyle]="{'text-align': 'center'}">
            <h3>Bet on:</h3>
            <button [disabled]="!dealt" (click)="action('win')">My hand Wins</button>
            <button [disabled]="!dealt" (click)="action('tie')">Tie</button>
            <button [disabled]="!dealt" (click)="action('lose')">House wins</button>

        </div>

        <div>
            <h3>Score</h3>
            <div>House: {{score.opponent}}</div>
            <div>You: {{score.you}}</div>
            
        </div>

    </div>

    <h2>You <span *ngIf="hands.length && !dealt">{{ namedHandService.name(playerHand) }}</span></h2>
    <app-hand [hand]="playerHand"></app-hand>
</div>

