<div class="flex-container container">

    <div class="first-col">
        <div>{{rank}}</div>
        <div>{{suitMap[suit]}}</div>
    </div>

    <div class="middle column">

        <div class="flex-container ">
            <div class="suite-icon">{{suitMap[suit]}}</div><div class="suite-icon">{{suitMap[suit]}}</div><div class="suite-icon">{{suitMap[suit]}}</div>
        </div>

    </div>

    <div class="last-col">
        <div>{{rank}}</div>
        <div>{{suitMap[suit]}}</div>
    </div>

</div>