<div class="flex-container container">

    <div>
        <div>{{rank}}</div>
        <div>{{suitMap[suit]}}</div>
    </div>

    <div class="middle-container">
        <div class="flex-container icon-columns">

            <div class="icon-column">
                <div class="suite-icon">{{suitMap[suit]}}</div><div class="suite-icon">{{suitMap[suit]}}</div><div class="suite-icon">{{suitMap[suit]}}</div><div class="suite-icon">{{suitMap[suit]}}</div>
            </div>
            
            <div class="icon-column">
                <div class="suite-icon">{{suitMap[suit]}}</div><div class="suite-icon">{{suitMap[suit]}}</div>
            </div>
    
            <div class="icon-column">
                <div class="suite-icon">{{suitMap[suit]}}</div><div class="suite-icon">{{suitMap[suit]}}</div><div class="suite-icon">{{suitMap[suit]}}</div><div class="suite-icon">{{suitMap[suit]}}</div>
            </div>

        </div>


    </div>

    <div class="last-col">
        <div>{{rank}}</div>
        <div>{{suitMap[suit]}}</div>
    </div>

</div>