.container {
    max-width: 150px;
    max-height: 200px;
    min-width: 120px;
    min-height: 150px;
    width: 22vw; /* if changed the hardcoded values in card-trigonomtery.service must be revisited */
    height: 30vw; /* if changed the hardcoded values in card-trigonomtery.service must be revisited */
    border: 1px solid black; /* if the width is changed the hardcoded values in card-trigonomtery.service must be revisited */
    border-radius: 5%;
    padding: 10px; /* if changed the hardcoded values in card-trigonomtery.service must be revisited */
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 10px;
}

.icon-columns {
    max-height: 200px;
    height: 30vw;
    line-height: 0;
}

.icon-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.suit-icon {
    font-size: clamp(20px,5vw, 35px);
}

.face-card {
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.last-col {
    transform: rotate(180deg);
}

.backside {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}