.container {
    width: 150px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.middle-container {
    flex-grow: 1;
    margin: 0 10px;
}

.icon-columns {
    height: 200px;
    line-height: 0;
}

.icon-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.suite-icon {
    font-size: 50px;
}

.last-col {
    transform: rotate(180deg);
}