<div *ngIf="backside === false; else backsideBlock" [style.color]="suitColor" class="flex-container container">

    <div>
        <div>{{rank}}</div>
        <div>{{suitMap[suit]}}</div>
    </div>

    <div class="middle-container">
        <div *ngIf="rank < 11; else elseBlock" class="flex-container icon-columns">

            <div class="icon-column">
                <div 
                    *ngFor="let i of [].constructor(col1)"
                    class="suit-icon"
                    >{{suitMap[suit]}}
                </div>
            </div>
            
            <div class="icon-column">
                <div 
                    *ngFor="let i of [].constructor(col2)"
                    class="suit-icon"
                    >{{suitMap[suit]}}
                </div>
            </div>
    
            <div class="icon-column">
                <div 
                    *ngFor="let i of [].constructor(col3)"
                    class="suit-icon"
                    >{{suitMap[suit]}}
                </div>
            </div>

        </div>

        <ng-template #elseBlock>
            <div class="flex-container face-card">
                <div class="">{{rank}}</div>
            </div>
        </ng-template>

        
    </div>
    
    
    <div class="last-col">
        <div>{{rank}}</div>
        <div>{{suitMap[suit]}}</div>
    </div>
    
</div>

<ng-template #backsideBlock>
    <div class="backside container"></div>
</ng-template>