.token-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    min-width: 40px;
    max-height: 80px;
    min-height: 40px;
    margin: 5px 0;
    cursor: pointer;
}

.token-backside {
    width: 10vw;
    max-height: inherit;
    height: 10vw;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.token-front {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    max-height: inherit;
    background-color: var(--black);
    color: var(--gold);
    border-radius: 50%;
}
