.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.token-backside {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}

.token-front {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #e5e5f7;

}
