/* You can add global styles to this file, and also import other style files */
html body {
    display: flex;
    justify-content: center;
}

app-root {
    max-width: 700px;
    min-width: 350px;
    width: 75vw;
    --gold : #FFC400;
    --red : #C40000;
    --black : #1B1F29;
}